<%- include ("header") -%> 
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam modi ipsum, esse aut amet explicabo incidunt facere itaque ipsa, fugit dolor delectus at illum quos velit. Doloremque enim cum corrupti?</p>
<%- include ("footer") -%> 
